# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
*.[oa]
*~
*.rpt
*.summary
*.done
*.pin
*.sof
*.bak
PLLJ_PLLSPE_INFO.txt
scarts-hwsw/workspace/hwsw_de2-115/quartus/db/
scarts-hwsw/workspace/hwsw_de2-115/quartus/incremental_db/
scarts-hwsw/workspace/hwsw_de2-115/quartus/simulation/
scarts-hwsw/workspace/hwsw_de2-115/quartus/top.psf
scarts-hwsw/workspace/hwsw_de2-115/modelsim/*/
*.aux
*.log
*.out
*.pdf
*.toc
