# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
*.[oa]
*~
*.rpt
*.summary
*.done
*.pin
*.sof
*.bak
PLLJ_PLLSPE_INFO.txt
scarts-hwsw/workspace/hwsw_de2-115/quartus/db/
scarts-hwsw/workspace/hwsw_de2-115/quartus/incremental_db/
scarts-hwsw/workspace/hwsw_de2-115/quartus/simulation/
scarts-hwsw/workspace/hwsw_de2-115/quartus/top.psf
scarts-hwsw/workspace/hwsw_de2-115/modelsim/*/
*.aux
*.log
*.out
*.toc
*.swp
*.orig
scarts-hwsw/workspace/hwsw_de2-115/modelsim/.nfs*
scarts-hwsw/workspace/hwsw_de2-115/quartus/top.cdf
scarts-hwsw/workspace/hwsw_de2-115/quartus/top.dpf
scarts-hwsw/workspace/hwsw_de2-115/quartus/top.frf
scarts-hwsw/workspace/hwsw_de2-115/quartus/top.map.smsg
scarts-hwsw/workspace/hwsw_de2-115/quartus/top.srf
scarts-hwsw/workspace/hwsw_de2-115/quartus/top.tis_db_list.ddb
transcript
*.srec
facedetection/app/main
facedetection/app/main.txt
*.tga
scarts-hwsw/workspace/hwsw_de2-115/modelsim/vsim.wlf
scarts-hwsw/workspace/hwsw_de2-115/modelsim/modelsim.ini
scarts-hwsw/workspace/hwsw_de2-115/quartus/greybox_tmp/*
scarts-hwsw/workspace/hwsw_de2-115/modelsim/dumpdata.txt
facedetection/app/tags
